.header {
  background-color: rgba(164,172,206);
  height: 60px;
  padding-top: 5px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  height: 48px;
  margin-left: -80px;
}

.nameFile {
  color: white;
  font-size: 20px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}



.upload,
.show {
  cursor: pointer;
  padding: 10px 20px;
  background-color: #1AC14C;
  color: white;
  border: none;
  border-radius: 10px;
  transition: background-color 0.3s;
}


.upload:hover,
.show:hover {
  background-color: #00dd09;
}

.upload:active,
.show:active {
  background-color: #00dd09;
}
