.header {
  background-color: rgba(164, 172, 206);
  height: 60px;
  padding-top: 5px;
  position: fixed;
  top: 0;
  left: 200px; /* смещение с учётом левой панели фиксированной ширины 300px */
  width: calc(100% - 200px);
  z-index: 1000;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 15px;
}
.nameFile {
  color: white;
  font-size: 30px;
  font-family: Inter, sans-serif;
  margin-right: auto;
}
.upload,
.done {
  cursor: pointer;
  width: 130px;
  height: 50px;
  font-size: 20px;
  font-family: Inter, sans-serif;
  background-color: #1ac14c;
  color: white;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
  box-shadow: #515151 1px 2px 3px;
}
.upload:hover,
.done:hover {
  background-color: #00dd09;
}
.upload:active,
.done:active {
  background-color: #00dd09;
}
