.header {
  background-color: #436296;
  height: 60px;
  padding-top: 5px;
  position: fixed;
  top: 0;
  left: 300px;
  width: calc(100% - 300px);
  z-index: 1000;
  transition: all 0.3s ease;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 15px 0 20px;
}
.nameFile {
  color: white;
  font-size: 30px;
  font-family: Inter, sans-serif;
  margin-right: auto;
  overflow: hidden;
  text-overflow: ellipsis;
}

.done {
  cursor: pointer;
  width: 120px;
  height: 50px;
  font-size: 20px;
  font-family: Inter, sans-serif;
  background-color: #1ac14c;
  color: white;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
  box-shadow: #515151 1px 2px 3px;
}

.done:active,
.done:hover {
  background-color: #00dd09;
}

