#left-panel {
  width: 300px;
  background: linear-gradient(180deg, #0B3A8A 0% 52%, #0050C1 100%);
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: auto;
  padding-top: 10px;
  border-right: 4px solid white;
}

#survey-list {
  margin-top: 20px;
}

.survey-item {
  padding: 10px 15px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.survey-item span {
  width: 100%;
  text-align: start;
  margin: 4% 0;
  color: white;
  font-size: 20px;
}

.survey-item:hover {
  background-color: #eaeaea;
}
.survey-item.active {
  background-color: rgb(170,181,223, 0.4);
}

.survey-actions {
  display: flex;
  justify-content: space-between;
  color: white;
}

.survey-actions button {
  margin-left: 5px;
  font-size: 14px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.survey-actions .edit-btn {
  background-color: #1ac14c;
  color: white;
}
.survey-actions .done-btn {
  background-color: #013183;
  color: white;
}
.survey-actions .done-btn:hover {
  background-color: #367bf3;
}

.left-panel-header {
  display: flex;
  flex-direction: row;
  font-size: 23px;
  font-weight: bold;
}

.text-opros {
  padding: 10px;
  color: white;
  margin-left: 85px;
}

.upload {
  cursor: pointer;
  width: 50px;
  height: 50px;
  font-size: 40px;
  font-weight: bold;
  background-color: #435D8F;
  color: white;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
  box-shadow: #515151 1px 2px 3px;
  margin-left: 40px;
  margin-top: -5px;
}

.upload:active,
.upload:hover {
  background-color: #6b94e3;
}

