#left-panel {
  width: 300px;
  background: linear-gradient(
    180deg,
    var(--deep-blue) 0% 52%,
    var(--blue) 100%
  );
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: auto;
  overflow-x: visible;
  padding-top: 10px;
  border-right: 4px solid var(--white);
  transition: width 0.3s ease;
}

#survey-list {
  margin-top: 20px;
}

.survey-item {
  padding: 10px 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--white);
  border-bottom: 1px solid var(--white);
}

.survey-item__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  position: relative;
}

.survey-item__menu-list {
  display: flex;
  flex-direction: column;
  background: var(--white);
  border-radius: 3px;
  position: absolute;
  transform: translateY(100%);
}

.survey-item__menu-list li {
  color: var(--blue);
  cursor: pointer;
  transition: 0.5s;
  padding: 4px;
}

.survey-item__menu-list li:hover {
  background: var(--light-gray-hover);
  transition: 0.5s;
}

.survey-item__menu img {
  width: 100%;
}

.survey-item span {
  width: 100%;
  text-align: start;
  margin: 4% 0;
  color: var(--white);
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.survey-item:hover {
  background-color: var(--dark-blue-hover);
}
.survey-item.active {
  background-color: var(--active-item-bg);
}

.survey-actions {
  display: flex;
  justify-content: space-between;
  color: var(--white);
}

.survey-actions button {
  margin-left: 5px;
  font-size: 14px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.survey-actions .edit-btn {
  background-color: var(--green);
  color: var(--white);
}
.survey-actions .done-btn {
  background-color: var(--darker-blue);
  color: var(--white);
}
.survey-actions .done-btn:hover {
  background-color: var(--bright-blue-hover);
}

.left-panel-header {
  display: flex;
  align-items: end;
  flex-direction: row;
  font-size: 23px;
  font-weight: bold;
}

.text-opros {
  color: var(--white);
  margin-left: 33px;
  padding-top: 15px;
  font-size: 30px;
  font-weight: 600;
  user-select: none;
  transition: all 0.3s ease;
}

.upload,
.collapsed-upload,
.panel-toggle {
  cursor: pointer;
  min-width: 50px;
  height: 50px;
  font-size: 40px;
  font-weight: bold;
  background-color: var(--dark-blue);
  color: var(--white);
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
  box-shadow: var(--shadow-gray) 1px 2px 3px;
  user-select: none;
}

.upload {
  margin-left: 33px;
}

.panel-toggle {
  margin-left: 10px;
}

.upload:active,
.upload:hover,
.collapsed-upload:active,
.collapsed-upload:hover,
.panel-toggle:hover,
.panel-toggle:active {
  background-color: var(--dark-blue-hover);
}

#left-panel.collapsed {
  width: 75px;
  overflow: hidden;
}

#left-panel.collapsed .text-opros,
#left-panel.collapsed .upload:not(.collapsed-upload),
#left-panel.collapsed #survey-list {
  display: none;
}

.collapsed-upload-container {
  display: none;
}

#left-panel.collapsed .collapsed-upload-container {
  display: block;
}

.collapsed-upload {
  margin-left: 10px;
  margin-top: 30px;
}

body.left-panel-collapsed #left-panel {
  width: 75px;
}

body.left-panel-collapsed #left-panel .text-opros,
body.left-panel-collapsed #left-panel .upload:not(.collapsed-upload),
body.left-panel-collapsed #left-panel #survey-list {
  display: none;
}

.collapsed-upload-container {
  display: none;
}

body.left-panel-collapsed #left-panel .collapsed-upload-container {
  display: block;
}

.left-panel-icon {
  width: 30px;
}

.hide {
  display: none;
}

.survey-menu-icon {
  width: 100%;
  transition: width 0.3s ease;
  pointer-events: none;
}

.animated-icon {
  display: none;
}

.survey-item__menu:hover .static-icon {
  display: none;
}

.survey-item__menu:hover .animated-icon {
  display: block;
}

@media (max-width: 768px) {
  body.left-panel-collapsed #left-panel .upload:not(.collapsed-upload) {
    display: flex;
  }

  body.left-panel-collapsed #left-panel .collapsed-upload-container {
    display: none;
  }

  body.left-panel-collapsed #left-panel {
    width: 125px;
    height: 60px;
  }

  .upload,
  .collapsed-upload,
  .panel-toggle {
    min-width: 35px;
    height: 35px;
    font-size: 25px;
    border-radius: 5px;
  }

  .left-panel-icon {
    width: 25px;
  }

  #left-panel {
    width: 200px;
  }

  .text-opros,
  .nameFile {
    font-size: 20px;
  }

  .text-opros,
  .upload {
    margin-left: 20px;
  }
}
