body {
  background: linear-gradient(180deg, var(--darker-blue) 0%, var(--blue) 100%);
  margin: 0;
  background-size: cover;
  font-family: Inter, sans-serif;
}

#survey-container {
  margin: 80px 15px 15px 300px;
  overflow-y: auto;
  height: calc(100vh - 95px);
  transition: all 0.3s ease;
}

.question-block {
  display: flex;
  flex-direction: column;
  width: 70%;
  background-color: var(--active-item-bg);
  border-radius: 15px;
  padding: 20px;
  margin: 0 auto 20px auto;
  color: var(--white);
}
.question-block h3 {
  font-size: 18px;
  margin-bottom: 15px;
  color: var(--white);
  font-weight: 600;
}

.subquestion-outer-container .question-block {
  background-color: transparent;
  width: 100%;
  margin-top: 0;
  padding: 10px;
}

.answer-container {
  margin-bottom: 10px;
}
.answer-option {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.answer-option input[type="radio"] {
  margin-right: 8px;
  cursor: pointer;
  width: 16px;
  height: 16px;
}
.answer-option label {
  font-size: 16px;
  color: var(--white);
  cursor: pointer;
}
.answer-input {
  padding: 10px 12px;
  background: var(--white);
  border: 1px solid var(--semi-transparent-white);
  border-radius: 10px;
  transition: border-color 0.3s, box-shadow 0.3s;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
}
.answer-input:focus {
  border-color: var(--black);
  outline: none;
}
.subquestion-container {
  padding-bottom: 10px;
}
hr.subquestion-separator {
  border: none;
  border-top: 5px solid var(--white);
  margin: 15px 0;
  border-radius: 3px;
}

#contractOutput {
  position: relative;
  white-space: pre-wrap;
  margin: 30px;
  padding: 20px;
  background: var(--white);
  border: 1px solid var(--semi-transparent-white);
  border-radius: 8px;
  font-size: 14px;
  color: #333;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  line-height: 1.6;
  font-family: Consolas, monospace;
  max-height: 400px;
  left: 200px;
  width: calc(100% - 220px);
}

::-webkit-scrollbar {
  width: 20px;
  background: linear-gradient(180deg, #0b3276 0%, #024cb7 100%);
}

::-webkit-scrollbar-track {
  background: var(--semi-transparent-white);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--white);
  border-radius: 10px;
}

input[type="radio"] {
  accent-color: var(--dark-blue);
}

#submitBtn:disabled {
  background-color: var(--green);
  cursor: not-allowed;
  opacity: 0.6;
}

/*--Preload----------------*/
#preloader {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  background-color: linear-gradient(
    180deg,
    var(--darker-blue) 0%,
    var(--blue) 100%
  );
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
