/*-------ОБНУЛЕНИЕ СТИЛЕЙ------------------------------*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
html,
body {
  line-height: 1;
  font-size: 16px;
  color: black;
  overflow: hidden;
}

/*----контейнер-----------------------------------------*/
[class*="__container"] {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: content-box;
}

/*--переменные-----------------------------------------------*/
:root {
  /* Основные цвета */
  --white: white;
  --green: #1ac14c;
  --green-hover: #00dd09;

  /* Оттенки синего */
  --blue: #0050c1;
  --dark-blue: #436296;
  --dark-blue-hover: #6b94e3;
  --deep-blue: #0b3a8a;
  --darker-blue: #013183;
  --bright-blue-hover: #367bf3;

  /* Нейтральные/дополнительные цвета */
  --shadow-gray: #515151;
  --light-gray-hover: #bdbdbd;
  --survey-item-hover-bg: #a0a0a0;
  --active-item-bg: rgba(170, 181, 223, 0.4);
  --semi-transparent-white: rgba(255, 255, 255, 0.5);
  --load-container-bg: #a8accc;
  --black: black;
  --red: #d00000;
}
